<div class="container mx-auto px-6 py-10">
  <div class="max-w-4xl mx-auto rounded-lg bg-white px-8 py-6 shadow-md">
    <div class="mt-2">
      <p class="mt-2 text-2xl font-bold text-center text-gray-800">What is SICC?</p>
      <p class="mt-2 text-gray-700">SICC is a volunteer-run collective that organises special movie screenings with English subtitles at independent cinemas across Stockholm. Our showings are targeted both at:</p>
      <p class="mt-2 pl-4 text-gray-700">
        1. Stockholm's international population, who might not have a good enough level of Swedish to understand Swedish subtitles when they watch foreign language films.<br>
        2. People from all backgrounds who are looking to meet new people with a shared interest in watching films. We host a mingle after every SICC event, where you can create new connections by discussing the film you just saw, or anything else you like!
      </p>
      <p class="mt-2 text-gray-700">Having started at the end of 2022, we have organised over 30 showings at independent cinemas across the city, and our community now includes over 2500 members across our network!</p>
    </div>
    <div class="mt-6 xl:mt-[24px]">
      <p class="mt-2 text-2xl font-bold flex justify-center text-gray-800">FAQ</p>
      <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:mt-16 xl:mt-[16px]">
        <div>
          <h2 class="text-xl font-semibold text-gray-800">What is SICC?</h2>
          <p class="mt-2 text-sm text-gray-600">SICC is a volunteer based group that works with independent cinemas around Stockholm to arrange special screenings of international films with English subtitles. Our events also provide opportunities to network and mingle after the film. Our screenings are open to all - anyone is welcome to join!</p>
        </div>
        <div>
          <h2 class="text-xl font-semibold text-gray-800">What does SICC do?</h2>
          <p class="mt-2 text-sm text-gray-600">After arranging the screening with the cinemas, SICC promotes the event through our channels to reach as many people as possible. During the screenings themselves, our volunteers host the events before and after the film to create a welcoming atmosphere.</p>
        </div>
        <div>
          <h2 class="text-xl font-semibold text-gray-800">What happens at a SICC event?</h2>
          <p class="mt-2 text-sm text-gray-600">Before the film, a SICC volunteer will make a short introduction to the event to welcome new joiners and tell you where we plan to meet after the film. After the film finishes, we gather in the cinema bar or a close by pub for a mingle. The focus is on meeting new people - there is no pressure to chat about the film if you don't want to!</p>
        </div>
        <div>
          <h2 class="text-xl font-semibold text-gray-800">How does SICC reach our audience?</h2>
          <p class="mt-2 text-sm text-gray-600">As well as this website, we have an active Facebook group, Meetup page and Instagram page. We are currently working on setting up our email newsletter.</p>
        </div>
        <div>
          <h2 class="text-xl font-semibold text-gray-800">Who does SICC work with?</h2>
          <p class="mt-2 text-sm text-gray-600">SICC works with independent cinemas all over Stockholm, in addition to several film festivals and other cultural institutions. If you would like to collaborate with us please get in touch!</p>
        </div>
        <div>
          <h2 class="text-xl font-semibold text-gray-800">How can I help out?</h2>
          <p class="mt-2 text-sm text-gray-600">Running on volunteer efforts, SICC is continually looking for volunteers to help in various positions. You can read about these and apply <a href="/work/index.html" class="underline text-primary-500">here</a>.<br>
          <b>NOTE</b> - we currently don't host the volunteer onboarding sessions very frequently, but we will get in touch when the next session is scheduled!</p>
        </div>
        <div>
          <h2 class="text-xl font-semibold text-gray-800">I'm from an organisation that wants to work with SICC!</h2>
          <p class="mt-2 text-sm text-gray-600">Fantastic! You can contact us through <a href="/work/index.html" class="underline text-primary-500">this page</a>, or alternatively through <a href="https://www.instagram.com/stockholminternationalcinema/" class="underline text-primary-500">Instagram</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
