<div class="flex justify-center items-center pb-5">
  <div class="max-w-2xl rounded-lg bg-white px-8 py-4 shadow-md">
    <div class="mt-2">
      <p class="mt-2 text-2xl font-bold text-gray-800">Contact</p>
      <p class="mt-2 text-gray-700">Stay updated with Information about our upcoming screenings through our Facebook Group, Meetup, Instagram, and email newsletter:</p>
      <p class="mt-2 hover:underline text-gray-700">🔗 <b><a href="https://linktr.ee/stockholminternationalcinema" target="_blank">https://linktr.ee/stockholminternationalcinema</a></b></p>
      <p class="mt-2 text-gray-700">To speak about something else, contact SICC at:</p>
      <p class="mt-2 hover:underline text-gray-700">💌 <b><a href="mailto:team@stockholminternationalcinema.com" target="_blank">team@stockholminternationalcinema.com</a></b></p>
      <p class="mt-2 text-gray-700">Is there a film you would like us to show? Add it to our <a href="https://poll.ly/WnCKzSSikBme9GuI4WCT" class="underline">Poll.ly</a></p>
    </div>
  </div>
</div>
